$accent: #153ef6;
$text-color: #2f2d2c;
$link-color: #e73515;
$link-color__hover: #098809;

// Header color
$logo__text-color: #098809;
$header-scrolled__background: #f3aa22;
// Navbar desktop
$navbar__text-color: #012970;
$navbar__link-color: #0baa0b;
$navbar__link-color-hover: #358b03;
$navbar-active-focus: #127512; 

// Navbar mobile color
$mobile-nav__toggle: #127512;
$navbar-mobile__background:#f3aa22; 
$navbar-mobile__link-color: #012970;
$navbar-mobile__link-color-hover: #358b03;
$navbar-mobile__backgrond: #eedddd;
$navbar-mobile__text: #ffffff;


