@import "mixins-media";
@import "variables";
// Fonts import local, uncomment if you need.
// @import "fonts";

// ============= Global setup start =============

body {
    font-size: 16px;
    line-height: 1.5;
    min-width: 320px;
    position: relative;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    color: $text-color;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

a {
    transition: all 0.3s ease;
    color: $link-color;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $link-color__hover;
        text-decoration: none;
    }
}

button {
    background-color: $link-color;
    /* Green */
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        background-color: $link-color__hover;
        color: $accent;
    }
}

section {
    padding: 100px 0;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

// ============= Global setup end =============

// =============  Disable aos animation delay on mobile devices start =============

@include mw-991 {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

// =============  Disable aos animation delay on mobile devices end =============

// ============= Header start =============

.header {
    transition: all 0.5s;
    z-index: 997;
    padding: 8px 0;
    background-color: $header__backgrond-color;
    display: flex;
    align-items: center;
    @include mw-991 {
        min-height: 50px;
    }

    .logo {
        line-height: 0;

        img {
            max-height: 40px;
            margin-right: 6px;
        }

        span {
            font-size: 25px;
            font-weight: 700;
            letter-spacing: 1px;
            color: $logo__text-color;            
            @include mw-400 {
                display: none;
            }
        }
    }
}

.header-scrolled {
    background-color: $header-scrolled__background;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    padding: 5px 0;
    min-height: 40px;
  
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    li {
        position: relative;
    }

    a,
    a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: $navbar__text-color;
        white-space: nowrap;
        transition: 0.3s;

        @include mw-991 {
            justify-content: start;
        }
    }

    a i,
    a:focus i {
        font-size: 15px;
        line-height: 0;
        margin-left: 2px;
    }

    a:hover,
    .active,
    .active:focus,
    li:hover>a {
        color: $navbar-active-focus;
    }

    .getstarted,
    .getstarted:focus {
        background: $navbar__link-color;
        padding: 8px 20px;
        margin-left: 30px;
        border-radius: 4px;
        color: #fff;
    }

    .getstarted:hover,
    .getstarted:focus:hover {
        color: #fff;
        background: $navbar__link-color-hover;
    }

    .dropdown:hover>ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .dropdown ul {
        display: block;
        position: absolute;
        left: 14px;
        top: calc(100% + 30px);
        margin: 0;
        padding: 10px 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        transition: 0.3s;
        border-radius: 4px;

        li {
            min-width: 200px;

            &:hover {
                color: $navbar__link-color-hover;
            }
        }

        a {
            padding: 10px 20px;
            font-size: 15px;
            text-transform: none;
            font-weight: 600;

            i {
                font-size: 20px;
            }

            &:hover {
                color: $navbar__link-color-hover;
            }
        }

        .active:hover {
            color: $navbar__link-color-hover;
        }
    }

    .dropdown {
        .dropdown ul {
            top: 0;
            left: calc(100% - 30px);
            visibility: hidden;
        }
    }
}

.dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@include mw-1400 {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: $mobile-nav__toggle;
    font-size: 40px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;

    .bi-x {
        color: #fff;
    }
}

@include mw-991 {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $navbar-mobile__background;
    transition: 0.3s;

    .mobile-nav-toggle {
        font-size: 40px;
        position: absolute;
        top: 25px;
        right: 15px;
    }

    ul {
        display: block;
        position: absolute;
        top: 55px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        padding: 10px 0;
        border-radius: 10px;
        background-color: $navbar-mobile__backgrond;
        overflow-y: auto;
        transition: 0.3s;
    }

    a,
    a:focus {
        padding: 10px 20px;
        font-size: 15px;
        color: $navbar-mobile__link-color;
    }

    a:hover,
    .active,
    li:hover>a {
        color: $navbar-mobile__link-color-hover;
    }

    .getstarted,
    .getstarted:focus {
        margin: 15px;

        @include mw-991 {
            display: block;
            text-align: center;
            margin: 15px 50px;
        }
    }

    .dropdown {
        ul {
            position: static;
            display: none;
            margin: 10px 20px;
            padding: 10px 0;
            z-index: 99;
            opacity: 1;
            visibility: visible;
            background: $navbar-mobile__text;
            box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        }

        ul li {
            min-width: 200px;
        }

        ul a {
            padding: 10px 20px;
        }

        ul a i {
            font-size: 20px;
        }

        ul a:hover,
        ul .active:hover,
        ul li:hover>a {
            color: $navbar-mobile__link-color-hover;
        }

        >.dropdown-active {
            display: block;
        }
    }
}

// ============= Header end =============